<%= form_for(@cat, :html => {:multipart => true}) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :bio, 'Description' %>
  <%= f.text_field :bio %>
  <br>

  <%= f.label :image, 'Image' %>
  <%= f.cl_image_upload :image %>
  <br>

  <%= f.label :hobbies, 'Select hobbies from this list:' %>
  <br>
  <div class="hobby">
    <% Hobby.all.each do |h| %>

      <%= check_box_tag('hobbies[]', h.id, @cat.hobbies.include?( h ) , multiple: true, id: h.id) %>
      <%= label_tag h.id, h.name %><br>
    <% end %>
  </div>

  <%= f.submit %>
<% end  %>
