<div class="searchresult"><% if @kittyresults.present? %>
<h3>Results for: "<%= @search_word %>"</h3>
<% else %>
We found no match for "<%= @search_word %>"
<% end %>
</div>

<div class="indexcolumn">
<h4>Filter by hobby:</h4>
<%= form_tag cats_path do %>
  <% Hobby.all.each do |h| %>
  <ul>
    <li>
      <%= check_box_tag :hobbyid, h.id %>
      <%= h.name %>
    </li>
  </ul>
  <% end %>
<div class="button"><%= submit_tag 'Search Kittens now' %></div>
<% end %>
</div>

<div class="resultcolumn">
  <% @kittyresults.each do |cat| %>
    <div class="kittyresult">
      <div class="kittyimage">
        <%= image_tag cat.image, :class => "kittyavatar" %>
      </div>
      <div class="kittytext">
        Name: <%= link_to cat.name, cat_path(cat) %> <br>
        Bio: <%= cat.bio %>
      </div>
    </div>
    <br>
  <% end %>
</div>
