

<% if @kittyresults.present? %>
<h3>Results for: "<%= @search_word %>"</h3>
<% else %>
We found no match for "<%= @search_word %>"
<% end %>

<div class="indexcolumn">
  Criteria for for purrrfect match:
  <br>
  <br>
  Criteria:<br>
  is evil<br>
  hates humans<br>
  All<br>
  searchbox (ENTER)
  (place previously entered search criteria)
</div>

<div class="resultcolumn">
  <% @kittyresults.each do |cat| %>
    <div class="kittyresult">
      <div class="kittyimage">
        <%= image_tag cat.image, :class => "kittyavatar" %>
      </div>
      <div class="kittytext">
        Name: <%= link_to cat.name, cat_path(cat) %> <br>
        Bio: <%= cat.bio %>
      </div>
    </div>
    <br>
  <% end %>
</div>
