<p>Hello my name is
  <em><%= @cat.name %></em>
</p>
<p>A little bit about myself:
  <%= @cat.bio %></p>

<p>My hobbies include:</p>
<ul>
  <% @cat.hobbies.each do |h| %>
    <li id="hobby_id"><%= h.name %></li>
  <% end %>
</ul>

<br>
<% if @cat.image.present? %>
  <%= cl_image_tag @cat.image %>
<% end %>
<br>
<% if @cat.comments.present? %>
  <p>What people said about me</p>
  <ul>
    <% @cat.comments.each do |com| %>
      <li>
        "<%= com.content %>". Posted by
        <%= link_to com.user.username, user_path(@cat.user.id) %>
      </li>
    <% end  %>
  </ul>
<% end %>

<ol>Wanna post something about me?
  <%= form_tag cat_path do %>
  <%= search_field_tag :comment %>
  <%= submit_tag 'Post Comment' %>
<% end %>

<p>Check out my awesome owner:

  <%= link_to @cat.user.username, user_path(@cat.user) %></p>

<% if @current_user.present? && @cat.user == @current_user %>
  <%= link_to "Edit", edit_cat_path(@cat)%>
  |
  <%= link_to "Delete", cat_path(@cat), method: :delete%>
<% end %>
</ol>
