<!DOCTYPE html>
<html>
  <head>
    <title>Kitty Dating</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body><div class="header">
    <h1>❤️ Kitty Dating ❤️ </h1>

  </div>
    <div class="main">
    <nav>
  <% if @current_user.present? %>
    Welcome, <%= @current_user.username %>
    <%= link_to 'Logout', login_path, method: :delete %>
    |
    <%= link_to 'All Kitties', cats_path %>
    |
  <% else %>
    <%= link_to 'Login', login_path %>
    |
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>

</nav>
    <div id="search">
    <%= form_tag '/search' do %>
    <%= search_field_tag :search %>
    <%= submit_tag 'Search Now' %>
    <% end %>
    </div>
    <hr>

    <%= yield %>
  </div>
    <div class="footer">&copy; Anna Tran. Project 1. WDI 27</div>
  </body>
</html>
